@import '../sass/reset.scss';
@import '../sass/colors.scss';

$header-height: 80px;

body, html {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  background: $color-blue;
  box-sizing: border-box;
  color: #333333;
  font-size: 16px;
}

.chat-area {
  height: 93vh;
  background: $color-gray;
}
.chat-input {
  background: #ffffff;
}

.chat-init-error {
  display: flex;
  align-items: center;
  margin: 0 auto;
  color: $color-pink;
}
